.tete{
    background-color: #0d6efd;
    color: white;
}
.rec{
    width: 500px;
}
.cap{
    height: 25px;
}
.rech{
    width: 500px;
    border-bottom: solid #0d6efd;
    border-top: none;
    border-left: none;
    border-right: none;
}