<div class="container mt-5 ">
  <h2 class="text-center text-primary">Listes des utilisateurs</h2>

  <div class="row ">
    <div class="search-hero rec">
      <input class=" rech" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Recherche par Nom, Prenom, Email">
    </div>

<div class="cap"></div>

    <table class="table table-striped tab">
      <thead>
          <tr class="text-center tete">
            <th>Prenom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Matricule</th>
            <th>Date d'Inscription</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of Users | paginate:{itemsPerPage: 5, currentPage:p} | filter:searchText" class="text-center">
        
          <td>{{ user.nom }}</td>
          <td>{{ user.prenom }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.telephone }}</td>
          <td>{{ user.date_d_inscription}}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p=$event" class="text-center"></pagination-controls>
  </div>
