$arriere_plan : #0d6efd;
$ecriture : white;

.colorNav
{

    background-color: $arriere_plan;
    color: $ecriture;
    a{
        color: white;
        cursor: pointer;
    }
    .info{
        height: inherit;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;
    }.info p:first-child{
        margin-left: 10px;
    }
    .lesLiens{
        padding: 10px;
        font-size: 20px;
        a{
            margin: 20px;
            color: white;
            text-decoration: none;
            margin-right: 10px;
        }a:hover:not(:last-child){
            border-bottom: 2px solid white;
            padding-bottom: 5px;
        }
    }
}
ul{
    li{

            img{
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background-color: white;
            }

    }
}
