
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- Page de connexion -->
  <div class="login  mt-5">
    <h2 class="login-header">S'identifier</h2>

  <form [formGroup]="angForm"  class="login-container"  (ngSubmit)="seConnecter()">
  <div class="form-group container contenue">
    <span *ngIf="retour != ''" class="bg-white p-1 mb-3 text-danger">{{retour}} </span>
<!--    <form [formGroup]="connecterForm" [ngSubmit]!="onSubmit()" > -->
  <div class="form-group mb-3 mt-5 text-danger">
    <p [ngClass]="{ 'has-error': submitted && angForm.controls['email'].errors }">
      <label class="center-block" style="color: #0d6efd; ">Adresse mail:
      <input type="email" placeholder="Email" formControlName="email">
    </label>
    </p>
    <div *ngIf="submitted && angForm.controls['email'].errors" class="help-block"></div>

    <div *ngIf="angForm.controls['email'].errors && angForm.controls['email'].errors['required']">
     <p style="color: red;">l'adresse mail est obligatoire </p>
    </div>
    <div *ngIf="angForm.controls['email'].errors && angForm.controls['email'].errors['email']"><p style="color: red;">le format de l'email est invalide</p></div>
    <!-- <div class="form-group">
      <label class="center-block" style="color: #0d6efd; ">Adresse mail:
        <input type="text" class="form-control" formControlName="email" id="email" placeholder="name@example.com"  >
      </label>
    </div>-->
  </div>
<!-- pour controle -->
<!-- <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
  <div *ngIf="angForm.controls['email'].errors && angForm.controls['email'].errors['required']">
  l'adresse mail est obligatoire
</div> -->

<!-- </div>
 -->

  <div class="form-group mb-3 mt-5">
    <p [ngClass]="{ 'has-error': submitted && angForm.controls['password'].errors }">
      <label class="center-block" style="color: #0d6efd; ">Mot de passe:
      <input type="password" placeholder="password" formControlName="password">
    </label>
    </p>

    <div *ngIf="submitted && angForm.controls['password'].errors" class="help-block"></div>

    <div *ngIf="angForm.controls['password'].errors && angForm.controls['password'].errors['required']">
     <p style="color: red;">Mot de passe  obligatoire </p>
    </div>

   <!--  <label class="center-block" style="color: #0d6efd; ">Mot de passe:
      <input type="password" class="form-control" formControlName="password" placeholder="votre mot de passe" >
    </label> -->
  </div>
    <!-- pour controle -->
<!-- <div *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)" class="alert alert-danger">
  <div *ngIf="angForm.controls['password'].errors && angForm.controls['password'].errors['required']">
   Mot de passe obligatoire
</div>
<div *ngIf="angForm.controls['password'].errors && angForm.controls['password'].errors[' minlength']">Le mot de passe doit comporté au moins 6 caractéres </div>


</div> -->


  <p>
    <input type="submit" value="CONNECTER">
  </p>

 <!--  <button class="btn btn-primary mt-5">CONNECTER</button><br> -->

  <a routerLink="inscription" >S'inscrire</a>

   <!-- <button type="submit"
            [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">
           Connecter
        </button>
        <div class="form-group">
          <button class="btn btn-primary">Connecter</button>
      </div> -->



</div>

</form>

<!-- <p>Form value: {{ angForm.value | json }}</p>
<p>Form status: {{ angForm.status | json }}</p> -->
</div>





</body>
</html>


