/* Define standard variables and values for website */
$bgcolor: white;
$border:3px solid #0d6efd ;
$textcolor: black;
$textcolorr:white;
$fontsize: 18px;
$widht:750px;
$hauteur:500px;
/* $marg-top:100px; */
$coloroff:#0d6efd;
$size-title:30px;

/* Use the variables */
.contenue {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
  width: $widht;
  height: $hauteur;
 /*  margin-top: $marg-top; */
  border: $border;
  
}
/* .btn {
background-color: $coloroff;
color: $textcolorr;


} */
.title {
    font-size: $size-title;
}