
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- Page de connexion -->
  <div class="container mt-5">
  <h5 class="title text-center " style="color: #0d6efd; ">Formulaire de connexion</h5>
  <div class="container contenue">
  <div class="mb-3 mt-5">
    <label for="exampleFormControlInput1" class="form-label" style="color: #0d6efd; " >Adresse Mail</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" style="height: 50px;">
  </div>
  <div class="mb-3 mt-5">
    <label for="exampleFormControlInput1" class="form-label"  style="color: #0d6efd; ">Mot de passe</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="votre mot de passe" style="height: 50px;">
  </div>
  <button class="btn mt-5">SE CONNECTER</button>
  
</div>
</div>
</body>
</html>
