<div class="container">
          <form class="modifier" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <label>Prénom</label>
                  <input type="text" class="form-control" formControlName="firstName"  [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors}" required>
                  <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                      <div *ngIf="f['firstName'].errors['required']">Ce champs est is requis</div>
                  </div>
              </div><br>
              <div class="form-group">
                  <label>Nom</label>
                  <input type="text" class="form-control" formControlName="lastName"  [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" />
                  <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
                      <div *ngIf="f['lastName'].errors['required']">Ce champs est is requis</div>
                  </div>
              </div><br>
              <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                  <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                      <div *ngIf="f['email']errors['required']">Ce champs est is requis</div>
                      <div *ngIf="f['email'].errors['email']">Le format du mail est incorrect</div>
                  </div>
              </div><br>
              <div class="form-group">
                  <button class="btn btn-primary">modifier</button>
              </div>
          </form>

  </div>
