.form-controlMe:first-child
{
    width: 18%;
    border:none;
    border-bottom: 2px solid #0d6efd;;
    outline: none;
    border-radius: 0px;
    margin-bottom: 20px;
}input:focus{
    outline: none;
    border: none;
}
.tab
{

    width: 100%;
    height: 500px;
    margin-top: 6vh;
    .headtr
    {
        background-color: #0d6efd;
    }
    th{
        color: white;
    }
     th,td{
        text-align: center;
    }
    th:last-child,td:last-child{
        display: flex;
        justify-content: space-around;
    }
}
.pagination{
    float: right;
}
a{
cursor: pointer;}
